h2{
    border: solid 4px pink;
}
#imagem-arcoiris{
    width: 200px;
}
#conteudo-lista{
    text-align: left;
}
.subtitulo{
    border: solid pink 5px;
}
#link:hover{
    color: chocolate;
    text-decoration: none;
}